@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/***** GLOBAL *****/
	*{
		box-sizing: border-box;
		margin: 0;
		padding: 0;

		/*colors*/
		--red: #ea5353;
		--cyan: #45d3d3;
		--orange: #fcaf4a;
		--blue: #549ef2;
		--dark-blue: #4c4e61;
		--gray-blue: #a3a5ae;
		--light-grey: #fafafa;

		/*font*/
		font-family: 'Poppins', sans-serif;
		font-size: 15px;
	}

/***** BODY *****/
	body{
		height: 100vh;
		background-color: var(--light-grey);
	}

/***** HEADER *****/
	header{
		display: flex;
		height: 276px;
		color: var(--dark-blue);
	}
	.container-header{
		width: 915px;
		text-align: center;
		margin:auto;
		margin-bottom: 40px;
	}
	.header-title{
		font-weight: 200;
		font-size: 36px;
	}
	.header-subtitle{
		font-weight: 600;
		font-size: 36px;
	}
	.header-description{
		margin:auto;
		width: 650px;
		margin-top: 20px; 
		color: var(--gray-blue);
	}
	.content-description{font-size: 18px;}

/***** MAIN *****/
	main{
		height: 600px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr
	}
	.container-card {
		width: 1300px; 
		margin: auto;
	}
	.card{
		box-shadow: 0px 10px 20px -8px var(--gray-blue);
		border-radius: 12px;
		width: 400px;
		height: 268px;
		margin: auto;
	}
	.card-center{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	main h1{
		color: var(--dark-blue);
		font-weight: 600;
		font-size: 24px;
		margin: 30px 28px 0;
	}
	main p{
		color: var(--gray-blue);
		margin: 10px 28px 10%; 
		font-size: 16px;
	}
	.icon-img{
		display: flex;
		justify-content: flex-end;
	}
	.card-cyan{
		background-color: var(--cyan);
		border-radius: 12px 12px 0 0;
		width: 100%;
		height: 5px;
	}
	.card-red{
		background-color: var(--red);
		border-radius: 12px 12px 0 0;
		width: 100%;
		height: 5px;
	}
	.card-orange{
		background-color: var(--orange);
		border-radius: 12px 12px 0 0;
		width: 100%;
		height: 5px;
	}
	.card-blue{
		background-color: var(--blue);
		border-radius: 12px 12px 0 0;
		width: 100%;
		height: 5px;
	}

/***** FOOTER *****/
footer{
	position: fixed;
	bottom: 0;
	padding: 10px;
	width: 100%
}
.attribution{ 
	text-align: center; 
	color: var(--dark-blue);
}
.attribution a{
	text-decoration: none;
	font-weight: 600;
	color: black;
}
.attribution a:hover{
	color: var(--red);
}

 /***** RESPONSIVE *****/
@media(max-width: 1025px){
	html{
		height: 100vh;
	}
	.container-header{
		margin: 50px 50px;
	}
	.container-card{
		width: 100%;
	}
	.card{
		width: 300px;
		height: 240px;
	}
	main p{
		margin-bottom: 10px; 
	}
	footer{
		position: static;
		padding: 0;
		bottom: 0;
	}
}

@media (max-width: 769px){
	.container-card{
		width: 100%;
		height: auto;
		margin: auto;
		display: flex;
		flex-direction: column;
	}
	.card{
		margin: 20px auto;
	}
	img{
		width: 60px;
		height: 60px;
	}
	#icon-cyan, #icon-orange{
		margin-left: 220px;
		margin-top: 20px;
	}
	#icon-red, #icon-blue{
		margin-left: 220px;
		margin-top: 0px;
	}
}

@media (max-width: 426px){
	html{
		width: 100vw;
	}
	header{
		height: auto;
	}
	.container-header{
		width: 100%;
		margin: 0;
		padding: 60px 0;
	}
	.header-description{
		width: 90%;
	}
	.header-description p{
		font-size: 24px;
	}
	.header-title,
	.header-subtitle{
		font-size: 28px;
	}
	.container-card{
		width: 100%;
		height: auto;
		margin: auto;
		display: flex;
		flex-direction: column;
	}
	.container-card .card{
		margin: 12px auto;
		width: 90%;
	}
	.card h1{ font-size: 30px;}
	.card p{ font-size: 20px; }
	img{
		width: 56px;
		height: 56px;
	}
	#icon-cyan, #icon-orange{
		margin-left: 300px;
		margin-top: 8px;
	}
	#icon-red, #icon-blue{
		margin-left: 300px;
		margin-top: -16px;
	}
}

@media (max-width:376px){
	body{
		width: 100vw;
		height: auto;
	}
	header{
		width: 100%;
		height: auto;
	}
	.container-header{
		width: 100%;
		margin: 0 auto;
		padding: 60px 20px;
	}
	.header-description{
		width: 100%;
	}
	.header-description p{
		font-size: 20px;
	}
	.header-title,
	.header-subtitle{
		font-size: 24px;
	}
	.container-card{
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
	}
	.container-card .card{
		margin: 12px auto;
		width: 86%;
	}
	.card h1{ font-size: 30px;}
	.card p{ font-size: 20px; }
	img{
		width: 50px;
		height: 50px;
	}	
	#icon-cyan, #icon-orange{
		margin-left: 250px;
		margin-top: 16px;
	}
	#icon-red, #icon-blue{
		margin-left: 250px;
		margin-top: -6px;
	}		
}

@media (max-width: 321px){
	img{
		width: 40px;
		height: 40px;
	}
	#icon-cyan, #icon-orange{
		margin-left: 220px;
		margin-top: 0px;
	}
	#icon-red, #icon-blue{
		margin-left: 220px;
		margin-top: -30px;
	}
}
